{% set tab = 'affiliate' %}

{% extends "new/account/layout.html" %}

{% block body %}
<div class="container standard" id="sm-account-affiliate">
  <div class="row order-list table" v-cloak>
    <div class="col-md-12">
      <div class="tabs-holder row">
        <ul class="nav nav-tabs left-position col-md-11">
          <li role="presentation" class="active-tab" v-bind:class="{ active: mode === 'dashboard' }">
            <a href="#" @click.prevent="setMode('dashboard')"><span class="icon"></span>Dashboard</a>
          </li>
          <li role="presentation" class="draft" v-bind:class="{ active: mode === 'links' }">
            <a href="#" @click.prevent="setMode('links')">Links</a>
          </li>
          <li role="presentation" class="draft" v-bind:class="{ active: mode === 'affiliates' }">
            <a href="#" @click.prevent="setMode('affiliates')">Affiliates{% if referrals_count %}<span class="badge">{{ referrals_count }}</span>{% endif %}</a>
          </li>
          {# <!-- <li role="presentation" class="draft" v-bind:class="{ active: mode === 'invites' }">
            <a href="#" @click.prevent="setMode('invites')"><span class="icon"></span>Invite Codes</a>
          </li> --> #}
          {# <!-- <li role="presentation" class="draft" v-bind:class="{ active: mode === 'earnings' }">
            <a href="#" @click.prevent="setMode('earnings')"><span class="icon"></span>Earnings</a>
          </li> --> #}
        </ul>
      </div>

      <transition name="fade" mode="out-in">

        <div class="tabs-processing"
          v-if="processingTab"
          key="processingOn">
          <spinner/>
        </div>

        <div class="tabs-content"
          v-else
          key="processingOff">

          <div v-if="mode === 'dashboard'">
            <affiliate-dashboard></affiliate-dashboard>
          </div>

          <div v-if="mode === 'links'">
            <div class="tab-inner">
              <p>You can earn with our affiliate program. Use the following URLs to invite users and receive income for each purchase made by them:</p>
              <div class="linklist">
                <div class="row">
                  <form class="copyURL-2 col-sm-12">
                    <div class="input-group">
                      <input type="text" class="form-control" value="{{ url_for('index', referer=g.user.username, _external=True) }}" id="copy-input-1" />
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="copy-button-1" data-toggle="tooltip" data-placement="button" title="Copy to Clipboard" data-clipboard-target="#copy-input-1">
                        COPY LINK
                        </button>
                      </span>
                    </div>
                  </form>
                  {# <div class="social-sharing col-sm-4">
                    <!-- TODO: insert social buttons -->
                  </div> #}
                </div>

                <div class="row">
                  <form class="copyURL-2 col-sm-12">
                    <div class="input-group">
                      <input type="text" class="form-control" value="{{ url_for('product', product_id='ABCDE', product_title='sample-product', referer=g.user.username, _external=True) }}" id="copy-input-2" />
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="copy-button-2" data-toggle="tooltip" data-placement="button" title="Copy to Clipboard" data-clipboard-target="#copy-input-2">
                        COPY LINK
                        </button>
                      </span>
                    </div>
                  </form>
                  {# <div class="social-sharing col-sm-4">
                    <!-- TODO: insert social buttons -->
                  </div> #}
                </div>

                <div class="row">
                  <form class="copyURL-2 col-sm-12">
                    <div class="input-group">
                      <input type="text" class="form-control" value="{{ url_for('category', category_id=1, category_title='sample-category', referer=g.user.username, _external=True) }}" id="copy-input-3" />
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="copy-button-3" data-toggle="tooltip" data-placement="button" title="Copy to Clipboard" data-clipboard-target="#copy-input-3">
                        COPY LINK
                        </button>
                      </span>
                    </div>
                  </form>
                  {# <div class="social-sharing col-sm-4">
                    <!-- TODO: insert social buttons -->
                  </div> #}
                </div>

                <div class="row">
                  <form class="copyURL-2 col-sm-12">
                    <div class="input-group">
                      <input type="text" class="form-control" value="{{ url_for('atom_xml', referer=g.user.username,  _external=True) }}" id="copy-input-4" />
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="copy-button-4" data-toggle="tooltip" data-placement="button" title="Copy to Clipboard" data-clipboard-target="#copy-input-4">
                        COPY LINK
                        </button>
                      </span>
                    </div>
                  </form>
                  {# <div class="social-sharing col-sm-4">
                    <!-- TODO: insert social buttons -->
                  </div> #}
                </div>

              </div>
            </div>
          </div>

          <div v-if="mode === 'affiliates'">
            <table width="100%" border="0" class="inbox-table margin affiliates-table">
              <thead>
                <tr>
                  <th>REFERRAL</th>
                  <th>REGISTERED</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in items" v-cloak>
                  <td>
                    <div class="infomracion-container">
                      <img class="circle" v-bind:src="item._photo_url" />
                      <div class="text-info">
                        <a class="title" v-bind:href="item._url"><span v-text="item.username"></span></a>
                      </div>
                    </div>
                  </td>
                  <td>
                    <span v-text="item._registered_on_date_display"></span>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="pagination-table">
              <div class="col-md-6">
                <div class="pagination-list" v-show="!itemsLoading && totalResults > 0" v-cloak>
                  <ul class="pagination">
                    <li v-bind:class="{ disabled: currentPage <= 1 }"><a href="#" @click.prevent="handlePageSelect(currentPage - 1)">&laquo;</a></li>
                    <li v-for="page in pages" v-bind:class="{ active: currentPage === page }">
                      <a href="#" @click.prevent="handlePageSelect(page)" v-text="page">2</a>
                    </li>
                    <li v-bind:class="{ disabled: currentPage >= pages[pages.length - 1] }"><a href="#" @click.prevent="handlePageSelect(currentPage + 1)">&raquo;</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="gotopage">
                  <span class="fileds">
                    <label for="gotopage">Go To Page</label>
                    <input type="number" name="gotopage" v-model="gotoPage">
                    <a href="#" class="btn" @click.prevent="handlePageSelect(gotoPage)">GO</a>
                  </span>
                </div>
              </div>
            </div>
          </div>

        </div>

      </transition>

    </div>
  </div>
</div>
{% endblock %}