{% set tab = mode %}
{% set header_hide_navigation_bar = 'true' %}

{% extends "new/account/layout.html" %}

{% block body %}
<div id="sm-account-order">
  <div class="content_area">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          {% include "new/account/components/order/summary.html" %}

          <div v-if="order" v-cloak>
            <div class="order_str_area" v-if="order.state === 'new'">
              <div class="order_strt_lft text-center">
                <h2>Awaiting confirmation</h2>
                <p>We asked <span v-text="sellerDisplayName"></span> to confirm this order. You will receive notification once order is started</p>               
              </div>

              <div class="order_strt_rgt">
                <Countdown v-if="order._accept_deadline" v-bind:date="order._accept_deadline"></Countdown>
              </div>
            </div>

            <div class="order_str_area" v-if="order.state === 'accepted'">
              <div class="order_strt_lft text-center">
                <img src="{{ static_file('images/account/itsalive@3x.png') }}" />
                <h2>Order started</h2>
                <p><span v-text="sellerDisplayName"></span> has started working on your order. This order is expected to be delivered within {{ order.delivery_time|timedelta_pretty_print }} {% if order.delivery_on %}({{ order.delivery_on.strftime('%b %d, %Y') }}){% endif %}</p>
              </div>
              <div class="order_strt_rgt">
                <Countdown v-if="order.deadline_date" v-bind:date="order.deadline_date"></Countdown>
              </div>
            </div>

            <div class="order_str_area" v-if="order.state === 'sent'">
              <div class="order_strt_lft text-center">
                <img src="{{ static_file('images/account/itsalive@3x.png') }}" />
                <h2>Order is delivered</h2>
                <p>You may now either to request a revision or complete the order. Orders automatically become completed in {{ order_sent_deadline_timedelta|timedelta_pretty_print }} after delivery</p>
              </div>

              <div class="order_strt_rgt">
                <Countdown v-if="order._sent_deadline" v-bind:date="order._sent_deadline"></Countdown>
              </div>
            </div>

            <div class="project_dtails clearfix">
              <div class="sng_pdt_mesage" v-if="orderProductHasRequirements">
                <div class="pr_profile">
                  <a href="#">
                    <img v-bind:src="sellerPhoto" alt="profile picture" />
                  </a>
                </div>
                <div class="pr_ab_desc">
                  <p>Before <b v-text="sellerDisplayName"></b> starts working on this order he needs to receive the following details:</p>
                  <p class="pr_time_ago" v-text="orderCreatedDate"></p>
                  <div class="repaly_content">
                    <ol>
                      <li v-for="requirement in sharedState.extra.product_requirements" v-text="requirement.text"></li>
                    </ol>
                  </div>
                </div>
              </div>

              <div class="sng_pdt_mesage right" v-if="order.is_requirements_provided && orderHasRequirements">
                <div class="pr_profile">
                  <a href="#"><img v-bind:src="buyerPhoto" alt="profile picture" /></a>
                </div>
                <div class="pr_ab_desc">
                  <p><b v-text="buyerDisplayName"></b> has provided the following information:</p>
                  {# <!-- <p class="pr_time_ago" v-text="orderCreatedDate"></p> --> #}
                  <div class="repaly_content">
                    <ul>
                      <li v-for="requirement in orderRequirements">
                        <span v-if="typeof requirement.reply === 'string'" v-text="requirement.reply"></span>
                        <span v-if="typeof requirement.reply === 'object'">
                          <a v-bind:href="attachment._url" v-for="attachment in requirement.reply"><span v-text="attachment.filename"></span></a>
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div v-if="order.is_requirements_provided || order.state !== 'new'">
                <div class="sng_pdt_mesage" v-for="message in messages" v-bind:class="{ right: message._buyer }">
                  <div class="pr_profile">
                    <a href="#"><img v-bind:src="message._sender_photo" /></a>
                  </div>
                  <div class="pr_ab_desc" v-if="message.type === 'message'">
                    <p><b v-text="message._sender_display"></b> wrote:</p>
                    <p class="pr_time_ago" v-text="message._create_date_display"></p>
                    <div class="clearfix">
                      <div class="repaly_content">
                        <p v-text="message.text"></p>
                        <p v-if="message.meta && message.meta.attachments" class="attachments">
                          <a v-bind:href="'/api/account/messaging/download/' + attachment.attachmentId + '/' + attachment.filename" v-text="attachment.filename" v-for="attachment in message.meta.attachments" target="_blank"></a>
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="pr_ab_desc" v-if="message.type === 'order_rejected'">
                    <p><strong v-text="sellerDisplayName"></strong> rejected the order</strong></p>
                    <p class="pr_time_ago" v-text="message._create_date_display"></p>
                    <div class="clearfix" v-if="message.text">
                      <div class="repaly_content"><p v-text="message.text"></p></div>
                    </div>
                  </div>

                  <div class="pr_ab_desc" v-if="message.type === 'order_sent'">
                    <p><strong v-text="sellerDisplayName"></strong> has delivered his work</strong></p>
                    <p class="pr_time_ago" v-text="message._create_date_display"></p>

                    <div class="repaly_content full" v-if="message.meta && message.meta.deliverable">
                      <div class="replay_cn_lft">
                        <p v-text="message.meta.deliverable.text"></p>
                        <ul class="client_qus">
                          <li v-for="file in message.meta.deliverable.files">
                            <a v-bind:href="file._url"><span v-text="file.filename"></span></a>
                          </li>
                        </ul>
                      </div>
                      <div class="refunt_ser_rgt">
                        <div v-if="deliveryVoteLoading[message.meta.deliverable.id]">
                          <Spinner />
                        </div>
                        <div v-else>
                          <div v-if="!deliveryVote[message.meta.deliverable.id] && !message.meta.deliverable.rating">
                            Vote for files:<br />
                            <label v-for="i in 5">
                              <input type="radio" @click="handleDeliverableVote(message.meta.deliverable.id, i)" />
                              <span v-text="i"></span>
                            </label>
                          </div>
                          <div v-else>Vote: <span v-text="deliveryVote[message.meta.deliverable.id] || message.meta.deliverable.rating"></span></div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="pr_ab_desc" v-if="message.type === 'order_revision'">
                    <p><strong v-text="buyerDisplayName"></strong> requested a revision</strong></p>
                    <p class="pr_time_ago" v-text="message._create_date_display"></p>
                  </div>

                  <div class="pr_ab_desc" v-if="message.type === 'order_cancelled'">
                    <p><strong v-text="buyerDisplayName"></strong> cancelled the order</strong></p>
                    <p class="pr_time_ago" v-text="message._create_date_display"></p>
                  </div>

                  <div class="pr_ab_desc" v-if="message.type === 'order_completed'">
                    <p><strong v-text="buyerDisplayName"></strong> closed the order</strong></p>
                    <p class="pr_time_ago" v-text="message._create_date_display"></p>
                  </div>
                </div>
              </div>

              <div class="sng_pdt_mesage" v-if="order.state === 'dispute' && order._dispute_user_id !== sharedState.user.id">
                <div class="pr_profile">
                  <a href="#"><img v-bind:src="sellerPhoto" /></a>
                </div>
                <div class="pr_ab_desc">
                  <p><b v-text="sellerDisplayName"></b> is asking to cancel the order</p>
                  {# <!-- <p class="pr_time_ago">An 1 houre ago</p> --> #}
                  <div class="repaly_content full">
                    <div class="replay_cn_lft">
                      <b>REASON</b>
                      <p v-text="order._dispute_text"></p>
                    </div>
                    <div class="refunt_ser_rgt">
                      <p>Amount To Receive</p>
                      <span v-text="'$' + ((order.price + sharedState.extra.extras_price) / 100).toFixed(2)"></span>
                      <a href="#" class="make_refund btn btn-primary" @click.prevent="handleResolveDisputeClick">CANCEL ORDER</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="sng_pdt_mesage" v-if="order.state === 'dispute' && order._dispute_user_id === sharedState.user.id">
                <div class="pr_profile">
                  <a href="#"><img v-bind:src="buyerPhoto" /></a>
                </div>
                <div class="pr_ab_desc">
                  <p><b v-text="buyerDisplayName"></b> is asking for refund</p>
                  {# <!-- <p class="pr_time_ago">An 1 houre ago</p> --> #}
                  <div class="repaly_content full">
                    <div class="replay_cn_lft">
                      <b>REASON</b>
                      <p v-text="order._dispute_text"></p>
                    </div>
                    <div class="refunt_ser_rgt">
                      <p>Amount To Refund</p>
                      <span v-text="'$' + ((order.price + sharedState.extra.extras_price) / 100).toFixed(2)"></span>
                      <a href="#" class="cancel_order" @click.prevent="handleCancelDisputeClick">CANCEL</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="acc_rv_btn text-center" v-if="order.state === 'closed_completed'">
                <!-- <div class="order_strt_lft text-center"> -->
                  <img src="{{ static_file('images/account/itsalive@3x.png') }}" />

                  <h2>Order has been completed</h2>
                  <p>Thank you for your order!</p>
                <!-- </div> -->
              </div>

              <div class="rate_y_exprience" v-if="order.state === 'closed_completed' && !order._feedback">
                <div class="text-center">
                  <img src="{{ static_file('images/account/message-icon.png') }}" />

                  <h2>Rate &amp; Review</h2>
                  <p>Dear customer, please provide your feedback on <span v-text="sellerDisplayName"></span> and his/her work:</p>
                  <a href="{{ url_for('account.buyer_order_review', order_id=order.id) }}" class="btn rt-exp">RATE YOUR EXPERIENCE</a>
                </div>
              </div>

              <div class="rate_y_exprience success" v-if="order.state === 'closed_completed' && order._feedback">
                <div class="text-center">
                  <img src="{{ static_file('images/account/itsalive@3x.png') }}" />

                  <h2>Feedback Received</h2>
                  <p>Thank you for your feedback!</p>
                </div>
              </div>

              {% if not order.product.is_private %}
              <div class="social_share text-center" v-if="order.state === 'closed_completed' && order._feedback">
                <span><a href="{{ url_for('product_share', product_id=order.product.unique_id, platform='facebook') }}"><i class="fa fa-facebook-official"></i> share on facebook</a></span>
              </div>
              {% endif %}

              <div class="bottom_action text-center" v-if="order.state === 'new' && order._accept_deadline_passed">
                <button v-bind:disabled="isLoading" @click="handleCancelOrderClick">CANCEL ORDER</button>
              </div>

              <div class="bottom_action text-center" v-if="order.state === 'sent'">
                <button v-bind:disabled="isLoading" class="req_revision" @click="handleRevisionClick">REQUEST A REVISION</button>
                <button v-bind:disabled="isLoading" @click="handleCompleteClick">ACCEPT &amp; REVIEW ORDER</button>
              </div>

              <div class="dlv_or_lchat" v-if="order.state === 'new' || order.state === 'accepted' || order.state === 'dispute'">
                <div class="lchat_area">
                  <span class="pull-right">
                    <b v-text="sellerDisplayName"></b>
                    <b>Local time: <span v-text="sharedState.extra.seller.local_time"></span></b>
                    <span class="online" v-if="sharedState.extra.seller.is_online">Online</span>
                    <span class="offline" v-else v-text="'Last seen ' + sellerLastSeen"></span>
                  </span>
                </div>

                {% include "new/account/components/order/textarea.html" %}
              </div>
            </div><!-- /.project_dtails -->
          </div>
        </div>

        <div class="col-md-3" v-if="order" v-cloak>
          <div v-if="order.state === 'new' || order.state === 'accepted' || order.state === 'sent'">
            <div class="order_issue">
              <p>Having issues with the order?</p>
              <a href="{{ url_for('account.buyer_order_resolution', order_id=order.id) }}" class="btn btn-primary" v-bind:disabled="isLoading">RESOLVE NOW</a>
            </div>
          </div>

          <div v-if="order.state === 'closed_completed'">
            <div class="order_issue">
              <p>Thank you for your order!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
