.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-Asset_9 {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-G {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-Recurso_1 {
  font-size:(63/10)*1rem;
  width:(239/63)*1em;
}
.icon-Recurso_2 {
  font-size:(91/10)*1rem;
  width:(89.82/91)*1em;
}
.icon-Recurso_3 {
  font-size:(91/10)*1rem;
  width:(89.82/91)*1em;
}
.icon-Recurso_4 {
  font-size:(91/10)*1rem;
  width:(89.82/91)*1em;
}
.icon-Recurso_5 {
  font-size:(28/10)*1rem;
  width:(98/28)*1em;
}
.icon-amer-express {
  font-size:(24/10)*1rem;
  width:(27.09/24)*1em;
}
.icon-ar-down {
  font-size:(10/10)*1rem;
  width:(21.6/10)*1em;
}
.icon-ar-left {
  font-size:(25.7/10)*1rem;
  width:(12/25.7)*1em;
}
.icon-ar-reply {
  font-size:(10.4/10)*1rem;
  width:(9.8/10.4)*1em;
}
.icon-ar-reply-big {
  font-size:(25.52/10)*1rem;
  width:(23.72/25.52)*1em;
}
.icon-ar-right {
  font-size:(25.7/10)*1rem;
  width:(12/25.7)*1em;
}
.icon-ar-up {
  font-size:(10/10)*1rem;
  width:(21.6/10)*1em;
}
.icon-chat {
  font-size:(21.93/10)*1rem;
  width:(25.4/21.93)*1em;
}
.icon-checkbox {
  font-size:(17.8/10)*1rem;
  width:(17.8/17.8)*1em;
}
.icon-checked {
  font-size:(17.8/10)*1rem;
  width:(17.8/17.8)*1em;
}
.icon-checked-solid {
  font-size:(15/10)*1rem;
  width:(15/15)*1em;
}
.icon-checkmark {
  font-size:(11.82/10)*1rem;
  width:(13/11.82)*1em;
}
.icon-clock {
  font-size:(14.84/10)*1rem;
  width:(14.84/14.84)*1em;
}
.icon-close {
  font-size:(21.7/10)*1rem;
  width:(21.7/21.7)*1em;
}
.icon-download {
  font-size:(14.8/10)*1rem;
  width:(17/14.8)*1em;
}
.icon-edit {
  font-size:(28.5/10)*1rem;
  width:(26.7/28.5)*1em;
}
.icon-editdescription {
  font-size:(13.5/10)*1rem;  
}
.icon-envelope {
  font-size:(13.15/10)*1rem;
  width:(20.82/13.15)*1em;
}
.icon-facebook {
  font-size:(14.54/10)*1rem;
  width:(14.54/14.54)*1em;
}
.icon-fav {
  font-size:(18.03/10)*1rem;
  width:(20/18.03)*1em;
}
.icon-fb {
  font-size:(16.03/10)*1rem;
  width:(16.03/16.03)*1em;
}
.icon-filter {
  font-size:(14/10)*1rem;
  width:(14/14)*1em;
}
.icon-g+ {
  font-size:(17.34/10)*1rem;
  width:(18.33/17.34)*1em;
}
.icon-google {
  font-size:(14.57/10)*1rem;
  width:(15.39/14.57)*1em;
}
.icon-heart {
  font-size:(12.12/10)*1rem;
  width:(13.22/12.12)*1em;
}
.icon-lock {
  font-size:(12.73/10)*1rem;
  width:(10/12.73)*1em;
}
.icon-magnifier {
  font-size:(20.33/10)*1rem;
  width:(20.33/20.33)*1em;
}
.icon-master-card {
  font-size:(22.04/10)*1rem;
  width:(36.79/22.04)*1em;
}
.icon-p {
  font-size:(18.69/10)*1rem;
  width:(14.74/18.69)*1em;
}
.icon-paypal {
  font-size:(23.78/10)*1rem;
  width:(98/23.78)*1em;
}
.icon-pencil {
  font-size:(28.5/10)*1rem;
  width:(26.7/28.5)*1em;
}
.icon-photo {
  font-size:(15.71/10)*1rem;
  width:(19.33/15.71)*1em;
}
.icon-play {
  font-size:(30.9/10)*1rem;
  width:(30.9/30.9)*1em;
}
.icon-price {
  font-size:(15/10)*1rem;
  width:(15/15)*1em;
}
.icon-profile {
  font-size:(18.03/10)*1rem;
  width:(18.03/18.03)*1em;
}
.icon-profile-j {
  font-size:(24.8/10)*1rem;
  width:(24.7/24.8)*1em;
}
.icon-radio {
  font-size:(16.5/10)*1rem;
  width:(16.5/16.5)*1em;
}
.icon-radio-checked {
  font-size:(16.5/10)*1rem;
  width:(16.5/16.5)*1em;
}
.icon-rus {
  font-size:(12/10)*1rem;
  width:(19.71/12)*1em;
}
.icon-sandwich {
  font-size:(22.74/10)*1rem;
  width:(24.87/22.74)*1em;
}
.icon-sorting-asc {
  font-size:(9.22/10)*1rem;
  width:(11.38/9.22)*1em;
}
.icon-sorting-desc {
  font-size:(9.22/10)*1rem;
  width:(11.38/9.22)*1em;
}
.icon-star {
  font-size:(16/10)*1rem;
  width:(16.9/16)*1em;
}
.icon-star-solid {
  font-size:(16/10)*1rem;
  width:(16.9/16)*1em;
}
.icon-tag {
  font-size:(16/10)*1rem;
  width:(16/16)*1em;
}
.icon-time {
  font-size:(14.84/10)*1rem;
  width:(14.84/14.84)*1em;
}
.icon-tw {
  font-size:(13.27/10)*1rem;
  width:(16.33/13.27)*1em;
}
.icon-twitter {
  font-size:(13.13/10)*1rem;
  width:(16.15/13.13)*1em;
}
.icon-visa {
  font-size:(12.26/10)*1rem;
  width:(40/12.26)*1em;
}
.icon-youtube {
  font-size:(11.23/10)*1rem;
  width:(16.01/11.23)*1em;
}
