<div class="text_area">
  <textarea placeholder="Type your message here" v-model="newMessage" maxlength="500"></textarea> 
  <div class="emotica clearfix">
    <!--ul>
      <li v-for="upload in attachUploads"><span v-text="upload.name"></span> <span class="delete" v-if="!upload.active" @click="handleAttachDelete(upload)">x</span><span v-else>&mdash; uploading...</span></li>
    </ul-->
    <div class="attachment-items" v-if="attachUploads.length">
      <div class="attachment-item" v-for="attachment in attachUploads">
        <span class="attachment-name" v-text="attachment.name">
        </span>
        <div class="attachment-delete" v-if="!attachment.active" @click="handleAttachDelete(attachment)">&times;</div>
        <div class="attachment-loading" v-else>
          <span class="attachment-loading-dot">.</span>
          <span class="attachment-loading-dot">.</span>
          <span class="attachment-loading-dot">.</span>
        </div>
      </div>
    </div>

    <label>
      <span class="icon attachements">
        <file-upload title="" name="file" post-action="/api/account/messaging/upload" :multiple="true" :files="attachUploads" :events="attachUploadEvents" ref="uploader">
        </file-upload>
      </span>
    </label>   
  </div>
</div>

<span class="warning" v-if="messageIncludedBlockWord.pay">Reminder : Never accept or ask for direct payments. Doing so may get your account restricted.</span>      
<span class="warning" v-if="messageIncludedBlockWord.skype || messageIncludedBlockWord.phone">Terms of Service reminder : <br/> Providing email, Skype, or phone number is only allowed if it is needed as part of the service. Otherwise, all communication must go through Jobdone.net</span>

<div class="texarea_send text-right">
  <span class="pull-left"><span v-text="newMessage.length"></span> / 500</span>
  {# <!-- <a href="#" class="creat_offer" data-toggle="modal" data-target="#myModal">Create an offer</a> --> #}
  <button type="button" class="send__msg" @click="handleMessageSend" v-bind:disabled="newMessageLoading || messagesLoading || messageIncludedBlockWord.skype || messageIncludedBlockWord.pay || messageIncludedBlockWord.phone">Send</button>
</div>