/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hdr_bnr_content{padding-top: 88px;}
    .single_process sub:after, .single_process sup:after{ background-size: 77px auto;}
    .single_process sup:after{top:4px;}
    .about_ys {justify-content: center;}

}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {

    .search_frm input[type="text"]{width: 300px;height: 44px}
    /* git #30 - 1 */
    .search_frm input[type="submit"]{height: 44px}
    .search_frm input[type="search"]{height: 44px}
    .search_frm > span {display: none;}
    .header_menu_left ul li a{margin-left: 10px;padding:4px 0;}
    .header_menu_right button{display: none}
    .hdr_bnr_content h1{font-size: 22px}
    .hdr_bnr_content p{font-size: 14px;margin-bottom: 15px}
    .hdr_bnr_content{padding-top: 88px;}
    .single_process sub::after, .single_process sup::after{display: none}
    .ftr_sng_weg {margin-bottom: 30px;text-align: left;}
    .about_ys {justify-content: center;}
}

@media only screen and (max-width: 550px){
  .search_frm input[type="search"]{height: 48px;}
  .search_frm input[type="submit"]{height: 42px; font-size: 14px; width: 110px;}
  .become_aseller {padding: 8px 18px; margin-bottom: 5px;}
  .hdr_bnr_content p {margin-bottom:0 !important; }
}

@media only screen and (max-width: 500px){
  .hdr_bnr_content {padding-top: 12%;}
  .search_frm input[type="search"]{height: 42px; width: 65%; font-size: 14px;}
  .search_frm input[type="submit"] {height: 32px; font-size: 12px; width: 19.5%;}
  header .logo{position:absolute; left:-40px;top:5px; }
    /* git #30 - 2 logo size*/
  header .logo {background-size: 150px 25px !important;}
  header .right{margin-top:-25px;}
  .search_frm input[type="submit"]{display:none;}
  .search_frm input[type="search"]{border-radius:4px 4px 4px 4px;  left:17%;}
  .hdr_bnr_content {height:auto;}
}

@media only screen and (max-width: 480px){
  .search_frm input[type="search"]{font-size: 12px;}
  footer .links .left .col{padding: 15px 0; text-align: center; border-bottom: 1px dotted #444; margin-top: 0px !important;}
  footer .links{padding-top: 0px !important;}
}

@media only screen and (max-width: 414px){
  .search_frm input[type="search"]{font-size: 12px;}
  .search_frm input[type="submit"]{font-size: 12px;}
}

@media only screen and (max-width: 375px){
  .hdr_bnr_content h1{font-size: 16px;}
  .hdr_bnr_content p {font-size: 10px; margin-bottom: 5px;}
  .search_frm input[type="submit"]{font-size: 10px;}
  .search_frm input[type="search"] {font-size: 10px;}

}

@media only screen and (max-width: 320px){
 header .right .link{margin-right: 20px !important;}
 .search_frm input[type="search"]{height: 38px;}
 .search_frm input[type="submit"]{width: 24%;}
}
