{% extends "admin/layout.html" %}

{% block admin_title %}{{ user.username }}{% endblock %}

{% block admin_body %}

<div class="panel-body">

<h2>Deposit funds to user account</h2>

<form action="{{ url_for('admin.user_deposit', user_id=user.id) }}" method="POST" class="form-horizontal">
  {{ form.csrf_token }}

  <div class="control-group">
    <div class="controls">
      <label for="amount">{{ form.amount.label }}</label><br />
      {{ form.amount(class='input-xlarge') }}
      {% for error in form.amount.errors %}
      <p class="text-danger">{{ error }}</p>
      {% endfor %}
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-success">Deposit funds</button>
    </div>
  </div>

</form>

</div>

{% endblock %}