.SortSelector {

  &__wrapper {
    position: relative;
  }

  &__inner-container {
    width: 150px;
    height: 40px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    color: #808080;
    cursor: pointer;
  }

  &__dropdowm {
    display: block;
    width: 150px;
    position: absolute;
    z-index: 100;
    background-color: #FFFFFF;
    top: 42px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.3);
    border-radius: 5px;
  }

  &__option {
    padding-left: 12px;
    color: #808080;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      background-color: #dadada;
    }
  }

  &__selected {
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: 100;
    justify-content: space-between;
  }

  &__selected &__label {
    padding: 12px 4px 12px 12px;
  }

  &__caret {
    position: absolute;
    right: 8px;
    top: 15px;
    z-index: 10;
    color: #808080;
    width: 8px !important;
    cursor: pointer;
  }

  &__option-icon {
    background-image: url("../../assets/images/icons/icon-ascending.png");
    background-size: 14px !important;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
  }
}