{% extends "new/layout.html" %}

{% block title %}Terms and Conditions{% endblock %}

{% block body %}
<div id="sm-contact-us">
  <div class="faq-page">
    <h1>Terms and Conditions of Use</h1>

    <section class="intro">
        <div class="title">
            <aside><b>SELFMARKET LTD</b><br>20-22 Wenlock Road<br>London<br>N1 7GU<br>England<br>
            </aside>
      <h2>About us</h2>
        </div>
        <p>jobdone.net is a site operated by SELFMARKET LTD ("We"). We are
        registered in England and Wales under company number 10578518 and have
        our registered office at 20-22 Wenlock Road London N17GU England, We
        are a limited company.</p>
        <br>
        <p>We are solely a marketplace for buyers and sellers to interact. We do
        not search for, select or introduce buyers and sellers to each other.
        As a result, we are not regulated under employment law and in the UK
        the Employment Agencies Act 1973 and the Conduct of Employment Agencies
        and Employment Businesses Regulations 2003 or other employment agency
        laws do not apply to us.</p>
    </section>

    <section>
      <div class="title">
        <aside> </aside>
        <h2>Accessing our site</h2>
      </div>
         <p>Access to our site is permitted on a temporary basis, and we reserve
        the right to withdraw organisation amend the service we provide on our
        site without notice (see below). We will not be liable if for any
        reason our site is unavailable at any time or for any period.</p>
        <br>

        <p>From time to time, we may restrict access to some parts of our site, or
        our entire site, to users who have registered with us.</p>
        <br>

        <p>If you are under the age of 16, you may not use the services on our
        website. We reserve the right to refuse to offer the services to any
        person or entity and change eligibility criteria at any time. Where
        these terms or use of the services is prohibited or conflicts with any
        applicable law, rule or regulation, the right to access the services is
        revoked.</p>
        <br>

        <p>You are responsible for making all arrangements necessary for you to
        have access to our site. You are also responsible for ensuring that all
        persons who access our site through your internet connection are aware
        of these terms, and that they comply with them.</p>
    </section>

    <section>
      <div class="title">
        <h2>Using our site</h2>
      <aside> </aside>
      </div>
            <p>Without limiting its ability to seek alternative remedies, JOBDONE may
            restrict any user&#8217;s ability to use the website, deactivate or terminate
            their account, forfeit or withhold funds, in its absolute discretion,
            if we have reason to believe or suspicion that the user&#8217;s dealings with
            JOBDONE constitute fraudulent activity, wrongdoings or related to money
            laundering. Users acknowledge that if their use of the website is in
            breach of any local or national laws with respect to fraud or money
            laundering, any payments made may be liable to forfeiture or may be
            frozen by JOBDONE. </p>
            <br>

            <p>To the extent permitted by law, JOBDONE shall not be liable to that
            user for any such payments, nor shall it incur any liability to any
            user where it is required to give information or documentation relating
            to that user to any relevant regulatory authority in such cases.</p>
            <br>


            <p>JOBDONE reserves the right to withhold payments payable to, any person,
            group of persons or legal entities acting in concert or as a syndicate
            to defraud the company, pending the outcome of a subsequent
            investigation by the proper authorities</p>

            <br>

            <p>To the extent permitted by law, JOBDONE shall be entitled to withhold
            and forfeit monies in user&#8217;s accounts in the event of fraudulent or
            money laundering acts by the user. The user agrees to indemnify
            JOBDONE, its directors, employees, shareholders, consultants and
            advisors for all losses and damages suffered by it as a result of
            fraud, or reasonable belief that there is fraud and/or a money
            laundering activity. The withholding and forfeiture, and claims for
            losses and damages will extend to all users who are involved and/or
            which the Company believes to be involved in such fraud and wrongdoings.</p><br>

            <p>"Wrongdoings" and/or "fraud" shall include but not be limited to
            attempts to circumvent these terms and conditions, hacking,
            unauthorized use of the account access information, account or third
            party accounts, attempts to circumvent or bypass any security
            mechanisms available on the website or JOBDONE 's systems or networks,
            wrongfully, deliberately or knowingly transfer funds from a third
            party's account or funds not lawfully owned, any act or omission
            through use of the website of JOBDONE services cause any harm to the
            company or to any third party, false personal information, fund
            transfers in any actions and/or omissions which the company reasonably
            deems to be a fraudulent and/or wrongdoings.</p> <br>

            <p>In the event that JOBDONE will suspect fraud or fraudulent activity on
            the user&#8217;s part or any of the user&#8217;s payments are charged back, JOBDONE
            will have the right to withhold any pay-out due to the user and if
            necessary, to lawfully collect any payments in remaining balances.</p>

    </section>

    <section>
      <div class="title">
        <h2>Acceptable use</h2>
      <aside> . </aside>
      </div>

            When using our site, you shall not:<br>
            <ul>
            <li> -- Take any action that imposes an unreasonable or
            disproportionately large load on our (or our third party providers&#8217;)
            infrastructure;</li>
            <li> -- Interfere with the proper working of the services we provide or
            any activities conducted on the services;</li>
            <li> -- Attempt to bypass or circumvent any measures we may use to
            prevent or restrict access to the services;</li>
            <li> -- Run any form of auto-responder or &#8216;spam&#8217; on the services;</li>
            <li> -- Use manual or automated software, devices, or other processes to
            "crawl" or "spider" any page of the site;</li>
            <li> -- Harvest or scrape any Content from the services; </li>
            <li> -- Otherwise take any action in violation of our guidelines and
            policies.</li>
            </ul>
        <br>
        <b>It is also not allowed to:</b>
        <br>
        <br>


            <p> -- decipher, decompile, disassemble, reverse engineer or otherwise
            attempt to derive any source code or underlying ideas or algorithms of
            any part of the services, except to the limited extent applicable laws
            specifically prohibit such restriction;</p>
                <p> -- modify, translate, or otherwise create derivative works of any
            part of the services; </p>
                <p> -- copy, rent, lease, distribute, or otherwise transfer any of the
            rights that you receive hereunder.</p>

            <br>
            <p>You shall abide by all applicable local, national and international laws and regulations.</p><br>

            <br>
    </section>

    <section>
      <div class="title">
        <h2>Intellectual property rights</h2>
      <aside> . </aside>
      </div>

		<p>We are the owner or the licensee of all intellectual property rights in
		our site, and in the material published on it. Those works are
		protected by copyright laws and treaties around the world. All such
		rights are reserved.</p>

		<br>

		<p>We grant to each user a license to use content solely for purposes of
		using JOBDONE in accordance with these terms.</p>

		<p>You may print off one copy, and may download extracts, of any page(s)
		from our site for your personal reference and you may draw the
		attention of others within your organisation to material posted on our
		site.</p>

		<br>

		<p>You must not modify the paper or digital copies of any materials you
		have printed off or downloaded in any way, and you must not use any
		illustrations, photographs, video or audio sequences or any graphics
		separately from any accompanying text.</p>

		<br>

		<p>Our status (and that of any identified contributors) as the authors of
		material on our site must always be acknowledged.</p><br>


		<p>You must not use any part of the materials on our site for commercial
		purposes without obtaining a licence to do so from us or our licensors.</p><br>

		<p>If you print off, copy or download any part of our site in breach of
		these terms of use, your right to use our site will cease immediately
		and you must, at our option, return or destroy any copies of the
		materials you have made.</p>

		<br>
    </section>

    <section>
      <div class="title">
        <h2>Reliance on information posted</h2>
      <aside> . </aside>
      </div>
		<br>

		<p>Commentary and other materials posted on our site are not intended to
		amount to advice on which reliance should be placed. We therefore
		disclaim all liability and responsibility arising from any reliance
		placed on such materials by any visitor to our site, or by anyone who
		may be informed of any of its contents.</p><br>

		<p>Our site changes regularly</p><br>

		<br>

		<p>We aim to update our site regularly, and may change the content at any
		time. If the need arises, we may suspend access to our site, or close
		it indefinitely. Any of the material on our site may be out of date at
		any given time, and we are under no obligation to update such material.</p>

		<br>
    </section>


    <section>
      <div class="title">
        <h2>Our liability</h2>
      <aside> . </aside>
      </div>

		<p>We try to keep JOBDONE running at all times, but we cannot guarantee to
		do so. We cannot guarantee continuous, uninterrupted or secure access
		to the Website as it may be interfered with by factors outside of our
		control.</p><br>

		<p>We also try to make sure that all the information that we place on
		JOBDONE is accurate, but we cannot guarantee this either.</p><br>

		<p>We use techniques that aim to verify the accuracy of the information
		provided by our Users, however user verification on the internet is
		difficult. JOBDONE cannot and does not confirm, and is not responsible
		for ensuring, the accuracy or truthfulness of Users' purported
		identities or the validity of the information which they provide to us
		or post on JOBDONE.</p><br>

		<br>

		<p>We do not control any information provided by Buyers and Sellers that
		is placed on the Website. We take reasonable steps to monitor
		information which is posted on the Website, including but not limited
		to any Proposal, Job posting or Workstream and may require the removal
		of any information which breaches our policies.</p><br>

		<p>To the extent permitted by law, we, other members of our group of
		companies and third parties connected to us hereby expressly exclude:</p><br>

		<p>All conditions, warranties and other terms which might otherwise be
		implied by statute, common law or the law of equity.</p><br>

		<p>Any liability for any direct, indirect or consequential loss or damage
		incurred by any user in connection with our site or in connection with
		the use, inability to use, or results of the use of our site, any
		websites linked to it and any materials posted on it, including:</p>

		<p> -- loss of income or revenue;</p>
		<p> -- loss of business;</p>
		<p> -- loss of profits or contracts;</p>
		<p> -- loss of anticipated savings;</p>
		<p> -- loss of data;</p>
		<p> -- loss of goodwill;</p>

		<br><br>
		<p>wasted management or office time; </p><br>

		<p>whether caused by tort (including negligence), breach of contract or
		otherwise, even if foreseeable.</p><br>

		<br>

</section>

<section>
      <div class="title">
        <h2>Information about you and your visits to our site</h2>
      <aside></aside>
      </div>

	<p>We process information about you in accordance with our&nbsp;privacy
	policy. By using our site, you consent to such processing and you
	warrant that all data provided by you is accurate.</p><br>

	<br>
</section>



<section>
      <div class="title">
        <h2>Transactions concluded through our site</h2>
      <aside></aside>
      </div>

<p>Contracts for the supply of goods, services or information formed
through our site or as a result of visits made by you are governed by
our&nbsp;terms and conditions of supply</p><br>


<br>
</section>



<section>
      <div class="title">
        <h2>Uploading material (&#8220;User Content&#8221;) to our site</h2>
      <aside></aside>
      </div>

		<p>You shall not (and shall not permit) any third party to either (a) take
		any action or (b) upload, download, post, submit or otherwise
		distribute or facilitate distribution of any Content, Job, or Proposal
		on or through the services we provide, including without limitation any
		User Content, that:</p><br>


		<ul>
			<li> -- Infringes any patent, trademark, trade secret, copyright or other
			right of any other person or entity or violates any law or contractual
			duty</li>
			<li> -- You know is false, misleading, untruthful or inaccurate;</li>
			<li> -- Is unlawful, threatening, abusive, harassing, defamatory,
			libellous, deceptive,fraudulent, invasive of another's privacy,
			tortious, obscene, vulgar, pornographic, offensive, profane, contains
			or depicts nudity, contains or depicts sexual activity, or is otherwise
			inappropriate as determined by us in our sole discretion;</li>
			<li> -- Constitutes unauthorised or unsolicited advertising, junk or bulk
			e-mail ("spamming");</li>
			<li> -- Contains software viruses or any other computer codes, files, or
			programs that are designed or intended to disrupt, damage, limit or
			interfere with the proper function of any software, hardware, or
			telecommunications equipment or to damage or obtain unauthorised access
			to any system, data, password or other information of ours or of any
			third party;</li>
			<li> -- Impersonates any person or entity, including any of our employees
			or representatives; </li>
			<li> -- includes anyone's identification documents or sensitive financial
			information.</li>
		</ul>

			<br>

			<p>You warrant that any such contribution does comply with those
			standards, and you indemnify us for any breach of that warranty.</p>


			<br>

			<p>You grant to us a worldwide, non-exclusive, perpetual, royalty-free,
			fully paid, sublicensable and transferable license to use your User
			Content in any way and whether on JOBDONE or otherwise for the purposes
			of running the service and marketing our services and/or business in
			any media formats and through any media channels (including, without
			limitation, third party websites and feeds).</p>

			<br>

			<p>You also grant to each User a non-exclusive, perpetual license to
			access your User Content through JOBDONE and/or in the course of a
			Proposal or a Job.</p>

			<br>


			<p>You represent and warrant that you have the rights to grant such
			licenses without infringement or violation of any third party rights.
			We have the right to disclose your identity to any third party who is
			claiming that any material posted or uploaded by you to our site
			constitutes a violation of their intellectual property rights, or of
			their right to privacy.</p>

			<br>

			<p>The grant of licences above do not confer on upon us any rights of
			ownership to your User Content. We do not own any intellectual property
			rights or have any rights in any work, materials or deliverables
			developed and created by you under a Job.</p>

			<br>

			<p>We reserve the right, but do not have any obligation, to remove, edit,
			modify or block any Content in our sole discretion, at any time,
			without notice to you and for any reason or for no reason at all.</p>

			<br>


			<p>We will not be responsible, or liable to any third party, for the content or accuracy of any materials posted
			by you or any other user of our site.</p><br>

			<br>
</section>

<section>
      <div class="title">
        <h2>Viruses, hacking and other offences</h2>
      <aside></aside>
      </div>

		<p>You must not misuse our site by knowingly introducing viruses, trojans,
		worms, logic bombs or other material which is malicious or
		technologically harmful. You must not attempt to gain unauthorised
		access to our site, the server on which our site is stored or any
		server, computer or database connected to our site. You must not attack
		our site via a denial-of-service attack or a distributed denial-of
		service attack.</p>

		<br>

		<p>By breaching this provision, you would commit a criminal offence under
		the Computer Misuse Act 1990. We will report any such breach to the
		relevant law enforcement authorities and we will co-operate with those
		authorities by disclosing your identity to them. In the event of such a
		breach, your right to use our site will cease immediately.</p><br>

		<p>We will not be liable for any loss or damage caused by a distributed
		denial-of-service attack, viruses or other technologically harmful
		material that may infect your computer equipment, computer programs,
		data or other proprietary material due to your use of our site or to
		your downloading of any material posted on it, or on any website linked
		to it.</p>

		<br>
</section>



<section>
      <div class="title">
        <h2>Linking to our site</h2>
      <aside></aside>
      </div>

		<br>
		<p>You may link to our home page, provided you do so in a way that is fair
		and legal and does not damage our reputation or take advantage of it,
		but you must not establish a link in such a way as to suggest any form
		of association, approval or endorsement on our part where none exists.</p><br>

		<p>You must not establish a link from any website that is not owned by you.</p><br>

		<p>Our site must not be framed on any other site, nor may you create a
		link to any part of our site other than the home page. We reserve the
		right to withdraw linking permission without notice.</p><br>

		<p>The website from which you are linking must comply in all respects with
		the content standards set out in these terms.<br>

		If you wish to make any use of material on our site other than that set
		out above, please contact us.</p><br>

		<br>
</section>



<section>
      <div class="title">
        <h2>Links from our site</h2>
      <aside></aside>
      </div>

		<p>Our site may contain Hyperlinks to websites that are not operated by
		us. These Hyperlinks are provided for your reference and convenience
		only and do not imply any endorsement of the activities of these
		third-party websites or any association with their operators. We do not
		control these websites and are not responsible for their data or
		privacy practices. We urge you to review any privacy policy posted on
		any site you visit before using the site or providing any Personal Data
		about yourself.</p>

		<br>
</section>

<section>
      <div class="title">
        <h2>Governing Law</h2>
      <aside></aside>
      </div>

		<br>

		<p>The English courts will have exclusive jurisdiction over any claim
		arising from, or related to, a visit to our site although we retain the
		right to bring proceedings against you for breach of these conditions
		in your country of residence or any other relevant country.</p>

		<br>

		<p>These terms of use and any dispute or claim arising out of or in
		connection with them or their subject matter or formation (including
		non-contractual disputes or claims) shall be governed by and construed
		in accordance with the law of England and Wales.</p>
		<br>
</section>


<section>
      <div class="title">
        <h2>Changes to terms</h2>
      <aside></aside>
      </div>
		<br>
		<p>We may revise these terms of use at any time by amending this page. You
		are expected to check this page from time to time to take notice of any
		changes we made, as they are binding on you. Some of the provisions
		contained in these terms of use may also be superseded by provisions or
		notices published elsewhere on our site.</p>
		<br>
</section>


<section>
      <div class="title">
        <h2>Reporting violations</h2>
      <aside></aside>
      </div>
		<br>

		<p>If you have any concerns about material which appears on our site,
            please <a href="{{ url_for('contact_us') }}">report it to us</a>.</p>

		<br>

</section>

  </div>
</div>
{% endblock %}
